[workspace]
members = ["apollo-federation-types", "apollo-composition"]
resolver = "2"

[workspace.dependencies]
apollo-compiler = "1.31.0"

# apollo-federation: We need to use the unreleased `dev` branch features.
apollo-federation = { git = "https://github.com/apollographql/router", branch = "dev" }
