[package]
name = "router-bridge"
version = "0.1.0-alpha1"
authors = ["Apollo <packages@apollographql.com>"]
edition = "2018"
description = "JavaScript bridge for the Apollo Router"
homepage = "https://www.apollographql.com/apollo-federation/"
documentation = "https://apollographql.com/docs/federation/"
repository = "https://github.com/apollographql/federation/"

# TODO: Swap back to license once "Elastic-2.0"
# is accepted by spdx and crates.io
license-file = "./LICENSE"
# license = "Elastic-2.0"
readme = "README.md"

include = [
    "bundled/**/*",
    "src/**/*",
    "Cargo.toml",
    "build.rs",
    # TODO: Remove it once "Elastic-2.0"
    # is accepted by spdx and crates.io
    "LICENSE"
]

[dependencies]
anyhow = "1.0.44"
async-channel = "1.6.1"
deno_core = "0.142.0"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = { version = "1.0.68", features = ["preserve_order"] }
thiserror = "1.0.30"
tokio = { version = "1.17.0", features = ["full"] }
tower = { version = "0.4.12", features = ["full"] }
tower-service = "0.3.1"
tracing = "0.1.33"
uuid = { version = "0.8.2", features = ["v4", "serde"] }

[dev-dependencies]
futures = "0.3.21"
insta = "1.8.0"
tracing-test = "0.2.1"

[build-dependencies]
deno_core = "0.142.0"
which = "4.2.2"
