name: Publish Components

on:
  push:
    branches:
      - main

jobs:
  router-bridge_publish:
    if: "contains(github.event.head_commit.message, 'Automated PR for router-bridge release')"
    name: Publish router-bridge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Create a tag to kick off release
        run: |
          ROUTERBRIDGE_RELEASE_VERSION=router-bridge@v`cargo metadata --format-version 1 |jq -r '.packages[] | select(.name=="router-bridge") | .version'`
          cd ..
          git config user.name "ApolloBot2"
          git config user.email "support@apollographql.com"
          git tag -a $ROUTERBRIDGE_RELEASE_VERSION -m $ROUTERBRIDGE_RELEASE_VERSION
          git push origin /refs/tags/$ROUTERBRIDGE_RELEASE_VERSION